<div
  *ngFor="let navbar of navbars"
  [ngClass]="navbar.classes"
  [ngStyle]="navbar.style">
  <div
    *ngFor="let tab of navbar.tabs"
    [ngClass]="tab.wrapper_classes"
    [ngStyle]="tab.wrapper_style">
    <a
      [id]="tab.id"
      [ngClass]="tab.classes"
      [ngStyle]="tab.style"
      [attr.href]="tab.href"
      [attr.target]="tab.target"
      [attr.data-intents]="tab.intents | json : 0"
      data-intent-ctrl="geodash-map-navbars"
      data-intent-class-on="btn-primary selected"
      data-intent-class-off="btn-default"
      [attr.data-toggle]="tab.tooltip | ternary_defined : 'tooltip': ''"
      [attr.data-placement]="tab | extract : 'tooltip.placement'"
      [attr.title]="tab | extract : 'tooltip.content' | default_if_undefined_or_blank : ''"
      [innerHTML]="tab.title | md2html : markdown_tab(navbar, tab)"
      (click)="onClickTab($event, navbar, tab)"></a>
    <div
      *ngIf="tab.tray.items.length > 0"
      [id]="tab.id | append : '-tray'"
      [hidden]="!tab.tray.visible"
      [ngClass]="tab.tray.classes"
      [ngStyle]="tab.tray.style"
      [style.opacity]="tab.tray.opacity">
      <div
        *ngFor="let item of tab.tray.items"
        [ngClass]="item.wrapper_classes"
        [ngStyle]="item.wrapper_style">
        <a
          [ngClass]="item.classes"
          [ngStyle]="item.style"
          [attr.href]="item.href"
          [attr.target]="item.target"
          [attr.data-toggle]="item.tooltip | ternary_defined : 'tooltip': ''"
          [attr.data-placement]="item | extract : 'tooltip.placement'"
          [attr.title]="item | extract : 'tooltip.content' | default_if_undefined_or_blank : ''"
          [innerHTML]="item.title | md2html : markdown_item(navbar, tab, item)"
          (click)="onClickItem($event, navbar, tab, item)"></a>
      </div>
    </div>
  </div>
</div>
